<DataRetentionConfiguration xmlns="http://openiz.org/configuration">

  <vars>
    <!-- Female Patients > 10 y cutoff -->
    <add name="cutOffFemales">DateTime.Now.AddDays(0)</add>
    <!-- Male Patients > 6 y cutoff -->
    <add name="cutOffMales">DateTime.Now.AddDays(0)</add>
    <!-- Completed Orders > 1 y cutoff -->
    <add name="cutOffOrder">DateTime.Now.AddDays(0)</add>
  </vars>

  <rules>
    <add name="Archive and Purge Acts belonging to Patients" type="Act" action="archive purge">
      <includes>
        <filter>participation[RecordTarget].player@Patient.dateOfBirth=&lt;$cutOffMales&amp;participation[RecordTarget].player@Patient.genderConcept.mnemonic=Male</filter>
        <filter>participation[RecordTarget].player@Patient.dateOfBirth=&lt;$cutOffFemales&amp;participation[RecordTarget].player@Patient.genderConcept.mnemonic=Female</filter>
      </includes>
    </add>
    <add name="Archive and Purge Male Patients > 6 years old or Female Patients > 9 years" type="Patient" action="archive purge">
      <includes>
        <filter>dateOfBirth=&lt;$cutOffMales&amp;genderConcept.mnemonic=Male</filter>
        <filter>dateOfBirth=&lt;$cutOffFemales&amp;genderConcept.mnemonic=Female</filter>
      </includes>
    </add>
    <add name="Archive and Purge Complete Orders > 1 year" type="Act" action="archive purge">
      <includes>
        <filter>statusConcept.mnemonic=COMPLETE&amp;typeConcept.mnemonic=Order&amp;classConcept.mnemonic=Supply&amp;modifiedOn=&lt;$cutOffOrder</filter>
      </includes>
    </add>
  </rules>
</DataRetentionConfiguration>