<DataRetentionConfiguration xmlns="http://openiz.org/configuration">

  <vars>
    <!-- Female Patients > 10 y cutoff -->
    <add name="cutOffFemales">DateTime.Now.AddDays(-365)</add>
    <!-- Male Patients > 6 y cutoff -->
    <add name="cutOffMales">DateTime.Now.AddDays(-365)</add>
    <!-- Completed Orders > 1 y cutoff -->
    <add name="cutOffOrder">DateTime.Now.AddDays(-365)</add>
    <add name="lastSync">DateTime.Now.AddDays(-18650)</add>
    <add name="cutOffLists">DateTime.Now.AddDays(-365)</add>
  </vars>

  <rules>
    
    <add name="Copy Security Roles" type="SecurityRole" action="archive">
      <includes>
        <filter>obsoletionTime=null</filter>
    </includes>
    </add>
    <add name="Copy Security Users" type="SecurityUser" action="archive">
      <includes>
        <filter>creationTime=!null</filter>
      </includes>
    </add>
    <add name="Copy Security Applications" type="SecurityApplication" action="archive">
      <includes>
        <filter>obsoletionTime=null&amp;modifiedOn=&gt;$lastSync</filter>
      </includes>
    </add>
    <add name="Copy Security Devices" type="SecurityDevice" action="archive">
      <includes>
        <filter>obsoletionTime=null&amp;modifiedOn=&gt;$lastSync</filter>
      </includes>
    </add>
    <add name="Copy Security User Entities" type="UserEntity" action="archive">
      <includes>
        <filter>obsoletionTime=null&amp;modifiedOn=&gt;$lastSync</filter>
      </includes>
    </add>
    <add name="Archive Relatives of Patients" type="Person" action="archive">
      <includes>
        <filter>relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent|Contact].source@Patient.dateOfBirth=&lt;$cutOffMales&amp;relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent|Contact].source@Patient.genderConcept.mnemonic=Male</filter>
        <filter>relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent|Contact].source@Patient.dateOfBirth=&lt;$cutOffFemales&amp;relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent|Contact].source@Patient.genderConcept.mnemonic=Female</filter>
        <filter>relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent|Contact].source@Patient.dateOfBirth=&lt;$cutOffMales&amp;relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent|Contact].source@Patient.genderConcept.mnemonic=NullFlavor-NotAsked</filter>
      </includes>
    </add>
    <add name="Purge Relatives of Patients" type="Person" action="purge">
      <includes>
        <filter>relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.dateOfBirth=&lt;$cutOffMales&amp;relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.genderConcept.mnemonic=Male</filter>
        <filter>relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.dateOfBirth=&lt;$cutOffFemales&amp;relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.genderConcept.mnemonic=Female</filter>
        <filter>relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.dateOfBirth=&lt;$cutOffMales&amp;relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.genderConcept.mnemonic=NullFlavor-NotAsked</filter>
      </includes>
      <excludes>
        <filter>relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.dateOfBirth=&gt;$cutOffMales&amp;relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.genderConcept.mnemonic=Male</filter>
        <filter>relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.dateOfBirth=&gt;$cutOffFemales&amp;relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.genderConcept.mnemonic=Female</filter>
        <filter>relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.dateOfBirth=&gt;$cutOffMales&amp;relationship[Aunt|Cousin|Grandparent|Mother|StepParent|Grandfather|Brother|Grandmother|Father|FamilyMember|Sister|Uncle|Parent].source@Patient.genderConcept.mnemonic=NullFlavor-NotAsked</filter>
      </excludes>
    </add>
    <add name="Copy Places" type="Place" action="archive">
      <includes>
        <filter>statusConcept.mnemonic=ACTIVE&amp;statusConcept.mnemonic=NEW&amp;modifiedOn=&gt;$lastSync</filter>
      </includes>
    </add>
    <add name="Copy Materials" type="Material" action="archive">
      <includes>
        <filter>statusConcept.mnemonic=!PURGED</filter>
      </includes>
    </add>
   <add name="Archive and Purge Acts belonging to Patients" type="Act" action="archive purge">
      <includes>
        <filter>participation[RecordTarget].player@Patient.dateOfBirth=&lt;$cutOffMales&amp;participation[RecordTarget].player@Patient.genderConcept.mnemonic=!Female</filter>
        <filter>participation[RecordTarget].player@Patient.dateOfBirth=&lt;$cutOffFemales&amp;participation[RecordTarget].player@Patient.genderConcept.mnemonic=Female</filter>
      </includes>
    </add>
    <add name="Archive and Purge Male Patients > 6 years old or Female Patients > 9 years" type="Patient" action="archive purge">
      <includes>
        <filter>statusConcept.mnemonic=NEW&amp;dateOfBirth=&lt;$cutOffMales&amp;genderConcept.mnemonic=Male</filter>
        <filter>statusConcept.mnemonic=NEW&amp;dateOfBirth=&lt;$cutOffFemales&amp;genderConcept.mnemonic=Female</filter>
        <filter>statusConcept.mnemonic=NEW&amp;dateOfBirth=&lt;$cutOffMales&amp;genderConcept.mnemonic=NullFlavor-NotAsked</filter>
      </includes>
    </add>
    <add name="Archive and Purge Complete Orders > 1 year" type="Act" action="archive purge">
      <includes>
        <filter>statusConcept.mnemonic=COMPLETE&amp;typeConcept.mnemonic=Order&amp;classConcept.mnemonic=Supply&amp;modifiedOn=&lt;$cutOffOrder</filter>
      </includes>
    </add>
    <add name="Archive and Purge Vaccination Sessions > 2 year" type="Act" action="archive purge">
      <includes>
        <filter>statusConcept.mnemonic=COMPLETE&amp;classConcept.mnemonic=ActClassList&amp;modifiedOn=&lt;$cutOffLists</filter>
      </includes>
    </add>
    
  </rules>
</DataRetentionConfiguration>